{% extends 'base.html' %}

{% block title %}User Profile Page{% endblock title %}

{% block content %}

    <div class="jumbotron vertical-center">
            <div class="container py-5">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="card mb-4">
                            <div class="card-body text-center">
                                <img src="{{ obj.avatar.url }}"
                                     alt="avatar"
                                     class="rounded-circle img-fluid" style="width: 150px;">
                                <h5 class="my-3">{{ obj.user.username }}</h5>

                                {% if request.user.id == obj.id %}
                                    <div class="d-flex justify-content-center mb-2">
                                        <a type="button" class="btn btn-primary" href="{% url 'users-profile-edit' %}">Edit
                                            Profile</a>
                                    </div>
                                {% endif %}
                            </div>
                        </div>

                        <div class="card mb-4 mb-lg-0">
                            <div class="card-body p-0">
                                <div class="card-body text-center">
                                    <p class="lead fw-normal mb-1">Bio</p>
                                    <p class="font-italic mb-1">{{ obj.bio }}</p>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="col-lg-8">
                        <div class="card mb-4">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-sm-3">
                                        <p class="mb-0">Full Name</p>
                                    </div>
                                    <div class="col-sm-9">
                                        <p class="text-muted mb-0"> {{ obj.user.first_name }} {{ obj.user.last_name }} </p>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <p class="mb-0">Email</p>
                                    </div>
                                    <div class="col-sm-9">
                                        <p class="text-muted mb-0">{{ obj.user.email }}</p>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <p class="mb-0">Points</p>
                                    </div>
                                    <div class="col-sm-9">
                                        <p class="text-muted mb-0"> {{ obj.points }} </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="card mb-4 mb-md-0">
                                    <div class="card-body">
                                        <p class="mb-4">Event Attending</p>
                                        <p class="mb-1" style="font-size: .77rem;">{{ obj.event }}</p>
                                        <div></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="card mb-4 mb-md-0">
                                    <div class="card-body">
                                        <p class="mb-4">Post</p>
                                        <p class="mb-1" style="font-size: .77rem;">Post1</p>
                                        <div></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

    </div>
{% endblock content %}