
.board {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-top: 10%;
    border-radius: 9px;
    border: 1px solid #000000;
    height: 100%;
    overflow-y: scroll;
}

.article {
    display: flex;
    padding-top: 10%;
    align-self: center;
    font-size: 2.3vh;
}