{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--- Bootstrap CDN stylesheet --->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <!--- Google Fonts --->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Arimo&display=swap" rel="stylesheet">

    <!--- Bootstrap CDN icons --->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">

    <!-- font icons -->
    <link rel="stylesheet" href="assets/vendors/themify-icons/css/themify-icons.css">

    <!-- Bootstrap + Meyawo main styles -->
    <link rel="stylesheet" href="{% static 'css/meyawo.css' %}">

    <title>{% block title %} {% endblock %} </title>
</head>

<body data-spy="scroll" data-target=".navbar" data-offset="40" id="home">
<!-- Page Navbar -->
<nav class="custom-navbar" data-spy="affix" data-offset-top="20">
    <div class="container">
        <a class="logo" href="#">Meyawo</a>
        <ul class="nav">
            <li class="item">
                <a class="link" href="/">Home</a>
            </li>
            {% if user.is_authenticated %}
                <li class="item">
                    <a class="link" href="{% url 'users-profile-edit' %}">User Profile Edit</a>
                </li>
                <li class="item">
                    <a class="link" href="{% url 'users-profile' %}">Profile</a>
                </li>
                <li class="item">
                    <a class="link" href="{% url 'news_board' %}">News</a>
                </li>
                <li class="item">
                    <a class="link" href="{% url 'logout' %}">Logout</a>
                </li>
            {% else %}
                <li class="item">
                    <a class="link" href="{% url 'login' %}">Login</a>
                </li>
                <li class="item">
                    <a class="link" href="{% url 'users-register' %}">Register</a>
                </li>
            {% endif %}
        </ul>
        <a href="javascript:void(0)" id="nav-toggle" class="hamburger hamburger--elastic">
            <div class="hamburger-box">
                <div class="hamburger-inner"></div>
            </div>
        </a>
    </div>
</nav><!-- End of Page Navbar -->

<!--Any flash messages pop up in any page because this is the base template-->
{% if messages %}
    <div class="alert alert-dismissible" role="alert">
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">{{ message }}</div>
        {% endfor %}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
{% endif %}

<div>
    {% block content %}{% endblock %}
</div>

<!-- footer -->
<div class="container">
    <footer class="footer">
        <p class="mb-0">Copyright
            <script>document.write(new Date().getFullYear())</script> &copy; <a
                    href="http://www.devcrud.com">DevCRUD</a> Distribution <a
                    href="https://themewagon.com">ThemeWagon</a>
        </p>
        <div class="social-links text-right m-auto ml-sm-auto">
            <a href="javascript:void(0)" class="link"><i class="ti-facebook"></i></a>
            <a href="javascript:void(0)" class="link"><i class="ti-twitter-alt"></i></a>
            <a href="javascript:void(0)" class="link"><i class="ti-google"></i></a>
            <a href="javascript:void(0)" class="link"><i class="ti-pinterest-alt"></i></a>
            <a href="javascript:void(0)" class="link"><i class="ti-instagram"></i></a>
            <a href="javascript:void(0)" class="link"><i class="ti-rss"></i></a>
        </div>
    </footer>
</div> <!-- end of page footer -->

<!-- core  -->
<script src="{% static 'vendors/jquery/jquery-3.4.1.js' %}"></script>
<script src="{% static 'vendors/bootstrap/bootstrap.bundle.js' %}"></script>

<!-- bootstrap 3 affix -->
<script src="{% static 'vendors/bootstrap/bootstrap.affix.js' %}"></script>

<!-- Meyawo js -->
<script src="{% static 'js/meyawo.js' %}"></script>
</body>

</html>
