{% extends "base.html" %}
{% load static %}
{% block title %} Home Page {% endblock title %}
{% block content %}

    <!-- page header -->

    <header id="home" class="header">
        <div class="overlay"></div>
        <div class="header-content container">
            <h1 class="header-title">
                <span class="up">HI!</span>
                <span class="down">{{ user.first_name.title|default:'Guest' }}</span>
            </h1>
            <p class="header-subtitle">LEAVE A LIGHTER FOOTPRINT.</p>

            {% if user.is_authenticated %}
                <a class="btn btn-primary btn-lg" href="{% url 'logout' %}" role="button">Logout</a>
                <a class="btn btn-primary btn-lg" href="{% url 'users-profile' %}" role="button">Profile</a>
                <a class="btn btn-primary btn-lg" href="{% url 'news_board' %}" role="button">News</a>
                <a class="btn btn-primary btn-lg" href="{% url 'leaderboard' %}" role="button">Leaderboard</a>
                <a class="btn btn-primary btn-lg" href="{% url 'event_list' %}" role="button">Events</a>
                <a class="btn btn-primary btn-lg" href="/react" role="button">Chat</a>
                <a class="btn btn-primary btn-lg" href="{% url 'map_view' %}" role="button">Map</a>
            {% else %}
                <a class="btn btn-primary btn-lg" href="{% url 'login' %}" role="button">Login</a>
                <a class="btn btn-primary btn-lg" href="{% url 'users-register' %}" role="button">Register</a>
            {% endif %}

        </div>
    </header><!-- end of page header -->
{% endblock %}
